.calendar-container {
    font-family: Arial, sans-serif;
    background-color: white;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    // margin-bottom: 16px;

    h2 {
        font-size: 24px;
    }
}

.calendar-header button {
    padding: 6px 12px;
    cursor: pointer;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 10px 10px;
    // gap: 5px;
}

.day-name {
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.calendar-cell {
    border: 1px solid #e0e0e0;
    padding: 6px;
    position: relative;
    min-height: 80px;
    user-select: none; // prevents text selection on double click

    // aspect-ratio: 1 / 1; // makes it perfect square
    // display: flex;
}

.calendar-cell.today {
    background-color: #c9f1d5 !important; // light green
    border: 2px solid #4caf50;
}

.calendar-cell.weekend {
    background-color: #fff5f7;
}

// .calendar-cell:not(.other-month) {
//     cursor: pointer;
// }

.calendar-cell:not(.other-month):hover {
    background: #ece9e9e0;
}

.calendar-cell.other-month {
    background: #f5f5f5;
    opacity: 0.4;
    pointer-events: none; // disables all interaction
    cursor: default;
}

.calendar-cell.selected {
    background-color: #d0e8ff !important; // light blue
    border: 2px solid #2196f3;
    // box-shadow: inset 0 0 0 1px #2196f3;
}


.date-number {
    font-size: 18px;
    position: absolute;
    top: 6px;
    right: 6px;
    // font-weight: bold;
}

.date-number.today-date {
    font-size: 24px;
    font-weight: bold;
    color: #2e7d32;
}

.date-number.weekend-date {
    color: #b00020; // maroon / deep red
    font-weight: 600;
}

.event-count {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 14px;
    cursor: pointer;
    // display: flex;
    // align-items: center;
    // gap: 4px;
}

.badge {
    // position: absolute;
    // top: 6px;
    // left: 6px;
    background: green;
    color: white;
    border-radius: 15px;
    padding: 3px 7px;
    // font-size: 14px;
    // cursor: pointer;
}

.total-duration {
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 12px;
    color: #555;
    // cursor: pointer;
}

// .add-btn {
//     position: absolute;
//     bottom: 6px;
//     right: 6px;
//     font-size: 12px;
//     padding: 2px 6px;
//     cursor: pointer;
// }

.expanded-row {
    grid-column: span 7;
    background: #3f3f3f;
    color: white;
    padding: 10px;
    overflow: hidden; // important for animation
}

.expanded-event {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 6px 0;
}

.actions span {
    margin-left: 10px;
    cursor: pointer;
    color: #4da3ff;
}